.popup__content {
  display: grid;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: min(100vw, 430px);
  display: grid;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 433px) {
  .popup__content {
    padding: 25px 22px;
    width: min(100vw, 282px);
  }
}
