.element__like_disabled {
  background-image: url(../../../../../images/__like_disabled.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-size: auto;
  }

  .element__like_disabled:active {
    background-image: url(../../../../../images/__like_active.svg);
  }
