.profile__avatar {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  background-image: url(../../../images/avatar.jpg);
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
